<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
  <div id="container">
    <h1>Term integration project</h1>

    <p class="description">
      This session will be to understand Python libraries and frameworks that
      can be used to build the web app and frontend. DASH, SQLALCHEMY, FLASK, JSON,...
    </p>

    <ul class="features">
      <li>learn new stuff</li>
      <li>apply it to cool tech</li>
      <li>create awesome websites</li>
    </ul>
  </div>
</body>

</html>